/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  font-family: Verdana;
}

.pod-preview {
  width: 20%;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.pod-preview div{
  background-color: #DAD7CD;
  overflow: scroll;
  height: 100px;
}
.pod-preview h2{
  /*background-color: #C2EDEC;*/
  font-weight: 600;
  font-size: 0.8em;
}
.pod-preview h3{
  /*background-color: #DCEDCF;*/
  height: auto;
  font-size: 0.7em;
}
.favorite {
  color: #5C595F;
}
.favorite:hover{
  color: #AC0C16;
  font-size: 2em;
}
.not-favorite {
  color: #AC0C16;
}
.not-favorite:hover{
  color: #5C595F;
  font-size: 2em;
}
nav{
  background-color: black;
  height: 40px;
  padding: 15px;
}
nav input{
  height: 30px;
  border: none;
  /*font-size: 1em;*/
}
nav input[type="text"]{
}
nav input[type="submit"]{
  width: 50px;
}

#content{
  margin: 5%;
}
.fa-home {
  color: white;
  font-size: 2em;
  float: right;
}

.overview {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 4px 5px 25px #978989;
}
.overview audio{
  width: 100%;
  border: 1px solid #a4a4a4;
}